.title-1 {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;
  font-style: normal;
  letter-spacing: -1px;

  @media (max-width: $md) {
    font-size: 34px;
  }

  @media (max-width: $xs) {
    font-size: 24px;
  }

  &--lg {
    font-size: 58px;
    line-height: 1.15;

    @media (max-width: $md) {
      font-size: 44px;
    }

    @media (max-width: $xs) {
      font-size: 30px;
    }
  }

  &--center {
    text-align: center;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.6;
  font-family: $ff-main;
  color: $c-main;
  font-style: normal;
}

.title-3 {
  margin-bottom: 5px;

  font-weight: 500;
  font-size: $fz-main;
  line-height: 1.8;
  font-family: $ff-main;
  color: $c-main;
  font-style: normal;
}
