.content {
  padding: 200px 0 200px;

  &--first {
    background: url(../img/ui/content-right-img.png) 120% center no-repeat;
    background-size: 1131px;
  }
}

.content__top-desc {
  width: 410px;
  //   margin-right: 125px;
}

.content__title {
  margin-bottom: 15px;
}

.content__top-text {
  margin-bottom: 68px;
}

.content__list {
}

.content__item {
  position: relative;

  padding-bottom: 40px;
  padding-left: 76px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  font-family: $ff-main;
  color: $c-main;
  font-style: normal;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;

    display: block;
    width: 59px;
    height: 59px;

    background-color: $c-grey-light;
    border-radius: 50%;
  }

  &:nth-child(1) {
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 18px;

      display: block;
      width: 24px;
      height: 20px;

      background: url("../img/icon/connect.svg") no-repeat;
      background-size: 100%;
    }
  }

  &:nth-child(2) {
    &:after {
      content: "";
      position: absolute;
      top: 8px;
      left: 21px;

      display: block;
      width: 16px;
      height: 20px;

      background: url("../img/icon/chart-growth.svg") no-repeat;
      background-size: 100%;
    }
  }

  &:nth-child(3) {
    &:after {
      content: "";
      position: absolute;
      top: 13px;
      left: 20px;

      display: block;
      width: 20px;
      height: 16px;

      background: url("../img/icon/storage.svg") no-repeat;
      background-size: 100%;
    }
  }
}

.content__item-accent {
  position: relative;
  &:after {
    content: "PRO";
    position: absolute;

//  top: 5px;
    top: 0;
    right: -57px;

    display: block;
    width: 42px;
    height: 25px;
    padding-top: 5px;

    font-weight: 700;
    font-size: $fz-third;
    font-family: $ff-main;
    text-align: center;
    color: $c-main;
    font-style: normal;

    background-color: $c-orange-light;
    border-radius: 5px;
  }
}

.content__wrap-img {
  position: relative;

  flex-grow: 1;
}

.content__top-img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  min-width: 1131px;
}

.content__bottom {
  position: relative;

  display: flex;
  justify-content: center;
}

.content__bottom-img {
  position: absolute;
  top: 0;
  left: 0;
}

.content__bottom-desc {
  min-width: 410px;
}

.content__bottom-text {
  margin-bottom: 56px;
}

.content__wrap-btn {
  display: flex;
  flex-direction: column;
}

.content__btn {
  position: relative;

  max-width: 239px;
  margin-bottom: 15px;
  padding: 8px 5px 10px 80px;

  text-align: left;

  &:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 25px;

    display: block;
    height: 34px;

    background-size: 100%;
  }

  &:first-child {
    &:before {
      width: 28px;

      background: url("../img/icon/apple.svg") center center no-repeat;
    }
  }

  &:last-child {
    margin-bottom: 0;
    padding-top: 5px;

    &:before {
      width: 32px;

      background: url("../img/icon/store.png") center center no-repeat;
    }
  }
}

.content__btn-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  font-family: $ff-main;
  text-align: left;
  color: $c-white;
  font-style: normal;

  &--dark {
    color: $c-main;
  }
}
