.content {
  overflow-x: hidden;

  &--first {
    padding: 235px 0 105px;

    @media (max-width: $xl) {
      padding: 100px 0 100px;
    }
  }

  &--second {
    padding: 42px 0 65px;

    @media (max-width: $xl) {
      padding: 50px 0 50px;
    }
  }
}

.content__container {
  display: flex;
  align-items: center;

  @media (max-width: $lg) {
    flex-direction: column;
  }
}

.content__desc {
  flex-shrink: 0;
  width: 410px;

  @media (max-width: $lg) {
    order: -1;
    width: 100%;
    margin-bottom: 40px;
  }
}

.content__title {
  margin-bottom: 15px;

  @media (max-width: $lg) {
    text-align: center;
  }
}

.content__text {
  @media (max-width: $lg) {
    text-align: center;
  }
}


.content__list {
  padding-top: 50px;

  @media (max-width: $lg) {
    max-width: 400px;
    margin: 0 auto;
  }
}

.content__item {
  position: relative;

  padding-bottom: 40px;
  padding-left: 76px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  font-family: $ff-main;
  color: $c-main;
  font-style: normal;

  @media (max-width: $md) {
    padding-bottom: 30px;
    padding-left: 55px;

    font-size: 20px;
  }

  @media (max-width: $xs) {
    font-size: $fz-main;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;

    display: block;
    width: 59px;
    height: 59px;

    background-color: $c-grey-light;
    border-radius: 50%;

    @media (max-width: $md) {
      width: 45px;
      height: 45px;
    }
  }

  &:nth-child(1) {
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 18px;

      display: block;
      width: 24px;
      height: 20px;

      background: url("../img/icon/connect.svg") no-repeat;
      background-size: 100%;

      @media (max-width: $md) {
        top: 2px;
        left: 12px;
      }
    }
  }

  &:nth-child(2) {
    &:after {
      content: "";
      position: absolute;
      top: 8px;
      left: 21px;

      display: block;
      width: 16px;
      height: 20px;

      background: url("../img/icon/chart-growth.svg") no-repeat;
      background-size: 100%;

      @media (max-width: $md) {
        top: 2px;
        left: 15px;
      }
    }
  }

  &:nth-child(3) {
    &:after {
      content: "";
      position: absolute;
      top: 13px;
      left: 20px;

      display: block;
      width: 20px;
      height: 16px;

      background: url("../img/icon/storage.svg") no-repeat;
      background-size: 100%;

      @media (max-width: $md) {
        top: 5px;
        left: 13px;
      }
    }
  }
}

.content__item-accent {
  position: relative;
  &:after {
    content: "PRO";
    position: absolute;
    //  top: 5px;
    top: 0;
    right: -57px;

    display: block;
    width: 42px;
    height: 25px;
    padding-top: 5px;

    font-weight: 700;
    font-size: $fz-third;
    font-family: $ff-main;
    text-align: center;
    color: $c-main;
    font-style: normal;

    background-color: $c-orange-light;
    border-radius: 5px;
  }
}

.content__wrap-img {
  position: relative;

  flex-grow: 1;

  &--right {
    margin-left: 120px;

    @media (max-width: $lg) {
      margin-left: 0;
    }
  }

  &--left {
    max-width: 635px;

    @media (max-width: $lg) {
      margin-right: 0;
    }
  }
}

.content__img-1 {
  position: absolute;
  top: 50%;
  left: 15px;

  min-width: 1131px;

  transform: translateY(-50%);

  @media (max-width: $xl) {
    min-width: 900px;
  }

  @media (max-width: $lg) {
    position: relative;
    top: 0;

    min-width: auto;

    transform: translateY(0);
  }
}

.content__img-2 {
  position: relative;
  top: 20px;
  left: -20px;

  @media (max-width: $lg) {
    top: 0;
    left: 0;
  }
}

.content__bottom {
  position: relative;

  display: flex;
  justify-content: center;
}

.content__bottom-img {
  position: absolute;
  top: 0;
  left: 0;
}

.content__bottom-desc {
  min-width: 410px;
}

.content__wrap-btn {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  @media (max-width: $lg) {
    align-items: center;
  }
}

.content__btn {
  position: relative;

  max-width: 239px;
  margin-bottom: 15px;
  padding: 8px 5px 10px 80px;

  text-align: left;

  &:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 25px;

    display: block;
    height: 34px;

    background-size: 100%;
  }

  &:first-child {
    &:before {
      width: 28px;

      background: url("../img/icon/apple.svg") center center no-repeat;
    }
  }

  &:last-child {
    margin-bottom: 0;
    padding-top: 5px;

    &:before {
      width: 32px;

      background: url("../img/icon/store.png") center center no-repeat;
    }
  }
}

.content__btn-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  font-family: $ff-main;
  text-align: left;
  color: $c-white;
  font-style: normal;

  &--dark {
    color: $c-main;
  }
}
