// ////////////////////////////////////////// CircularStd
@font-face {
  font-weight: 350;
  font-family: CircularStd;
  font-style: normal;

  font-display: swap;
  src: url(../font/CircularStd/CircularStd-Book.woff2),
  url(../font/CircularStd/CircularStd-Book.woff);
}

@font-face {
  font-weight: 500;
  font-family: CircularStd;
  font-style: normal;

  font-display: swap;
  src: url(../font/CircularStd/CircularStd-Medium.woff2),
  url(../font/CircularStd/CircularStd-Medium.woff);
}

@font-face {
  font-weight: 700;
  font-family: CircularStd;
  font-style: normal;

  font-display: swap;
  src: url(../font/CircularStd/CircularStd-Bold.woff2),
  url(../font/CircularStd/CircularStd-Bold.woff);
}
