// //////////////////////////////////////// font-family
$ff-main: "CircularStd", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 18px;
$fz-secondary: 16px;
$fz-third: 13px;

// //////////////////////////////////////// colors 
$c-main: #1d293f;
$c-secondary: #7c8087;
$c-grey-light: #f7f8fa;
$c-accent: #0f53fa;
$c-accent-opacity: rgba($c-accent, .8);
$c-main-opacity: rgba($c-main, .12);
$c-main-light: #313d55;
$c-white: #fff;
$c-grey: #eceff4;
$c-orange-light: #ffd166;
$c-orange-opacity: rgba($c-orange-light, .3);
$c-orange: #faba25;
$c-grey-dark: #e2e4e8;
$c-gray: #8c97ac;

// //////////////////////////////////////// breakpoints
$sl: 1499.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;