.footer {
  position: relative;

  overflow: hidden;

  background-color: $c-main;

  &::after {
    content: "";
    position: absolute;
    bottom: -125px;
    left: -128px;

    display: block;
    width: 255px;
    height: 255px;

    background: url("../img/ui/circle.png") center center no-repeat;
    background-size: 100%;

    @media (max-width: $sl) {
      width: 195px;
      height: 195px;
    }

    @media (max-width: $xl) {
      bottom: -20%;
      left: -100px;

      width: 150px;
      height: 150px;
    }

    @media (max-width: $lg) {
      display: none;
    }
  }
}

.footer__inner {
  display: flex;
  padding: 125px 0;

  border-bottom: 1px solid $c-main-light;

  @media (max-width: $xl) {
    justify-content: space-between;
    padding: 90px 0;
  }

  @media (max-width: $md) {
    flex-direction: column;
    padding: 50px 0;
  }
}

.footer__question {
  max-width: 265px;
  margin-right: 213px;

  @media (max-width: $xl) {
    margin-right: 40px;
  }

  @media (max-width: $lg) {
    margin-right: 80px;
    margin-left: 30px;
  }

  @media (max-width: $md) {
    margin: 0 0 40px 0;
  }
}

.footer__logo {
  padding-top: 13px;
  padding-bottom: 8px;
}

.footer__question-desc {
  margin-bottom: 30px;

  color: $c-gray;
}

.footer__btn {
  min-width: 126px;
}

.footer__wrap-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $lg) {
    justify-content: space-between;
  }

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.footer__block {
  margin-right: 68px;

  @media (max-width: $lg) {
    margin-bottom: 40px;
  }
}

.footer__title {
  margin-bottom: 15px;

  color: $c-gray;
}

.footer__list {
}

.footer__link {
  display: inline-block;

  line-height: 2.6;
  color: $c-grey-light;

  transition: all .3s;

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }

  &:active {
    color: $c-secondary;
  }
}

.footer__contacts {
  max-width: 265px;
  padding-left: 13px;

  @media (max-width: $lg) {
    padding-left: 0;
  }
}

.footer__contacts-wrap {
}

.footer__contacts-title {
  margin-bottom: 20px;

  color: $c-gray;
}

.footer__contacts-text {
  color: $c-orange-light;

  transition: all .3s;

  &:hover {
    color: $c-orange;
    text-decoration: none;
  }

  &:active {
    color: $c-secondary;
  }
}

.footer__contacts-desc {
  margin-bottom: 25px;

  color: $c-grey-light;
}

.footer__contacts-info {
  display: flex;
  flex-direction: column;
}

.footer__contacts-text {
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 25px;
}

.footer__copyright-text {
  margin-right: 20px;
  margin-bottom: 0;

  color: $c-gray;
}
