.btn {
  @extend .btn-reset;

  min-width: 217px;
  padding: 20px 10px 13px;

  font-weight: 500;
  font-size: $fz-secondary;
  line-height: 1.5;
  font-family: $ff-main;
  text-align: center;
  color: $c-white;
  font-style: normal;

  background-color: $c-accent;
  border-radius: 5px;

  transition: all .3s;

  &:hover {
    color: $c-white;
    text-decoration: none;

    background-color: $c-accent-opacity;
  }

  &:active {
    background-color: $c-main-light;
  }

  &--sm {
    min-width: 170px;
    padding: 12px 6px;

    font-size: $fz-third;
  }

  &--light {
    // color: $c-secondary;
    color: $c-main;

    background-color: $c-white;
    border: 2px solid $c-grey-dark;

    &:hover {
      background-color: $c-grey-dark;
      border-color: transparent;
    }

    &:active {
      color: $c-white;

      background-color: $c-main-light;
    }
  }
}
