.btn {
  @extend .btn-reset;

  min-width: 217px;
  padding: 20px 10px 13px;

  font-weight: 500;
  font-size: $fz-secondary;
  line-height: 1.5;
  font-family: $ff-main;
  text-align: center;
  color: $c-white;
  font-style: normal;

  background-color: $c-accent;
  border-radius: 5px;

  &--sm {
    min-width: 170px;
    padding: 12px 6px;

    font-size: $fz-third;
  }

  &--light {
    color: $c-secondary;

    background-color: $c-white;
    border: 2px solid $c-grey-dark;
  }
}
